/* || Universal Styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Open Sans", sans-serif, serif;
}

:root {
  /* Primary */

  --Blue950: hsl(233, 26%, 24%);
  --Green500: hsl(136, 64%, 51%);
  --Cyan400: hsl(192, 69%, 51%);

  /* Neutral */

  --Gray600: hsl(233, 8%, 62%);
  --Gray100: hsl(220, 16%, 96%);
  --Gray50: hsl(0, 0%, 98%);
  --White: hsl(0, 100%, 100%);
}

/* ... */

/* || Header & Main */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1.5em;
}

main {
  overflow: hidden;
}

/* Mobile Nav */

.close-btn {
  display: none;
}

.mobile-nav-container {
  position: relative;
  background-image: linear-gradient(
    hsla(233, 30%, 17%, 0.705),
    hsla(233, 26%, 24%, 0)
  );
  width: 100%;
  height: 30em;
  position: absolute;
  top: 4.21em;
  left: 0;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  pointer-events: none;
  z-index: 99;
}

.mobile-nav {
  background-color: var(--White);
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 1.5em;
  border-radius: 0.5em;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  pointer-events: none;
}

.mobile-nav-list {
  list-style: none;
  text-align: center;
  padding: 1.5em 0;
}

.active {
  opacity: 1;
  pointer-events: auto;
}

.mobile-nav-list li {
  margin-bottom: 1.5em;
}

.mobile-nav-list li:last-of-type {
  margin-bottom: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--Blue950);
  font-weight: bold;
}

.menu-btn {
  height: 0.8em;
  width: 1.4em;
}

.close-btn {
  height: 1em;
  width: 1em;
}

/* ... */

/* || Desktop Nav */

.desktop-nav-container {
  display: none;
}

.hero-desktop-btn {
  display: none;
}

/* ... */

/* || Hero Section */

.hero-section {
  width: 100%;
  height: 19em;
  position: relative;
}

.hero-img-1 {
  width: 100%;
  top: -4em;
  left: 0;
  position: absolute;
}

.hero-img-1-desktop {
  display: none;
}

.hero-img-2 {
  width: 22em;
  height: auto;
  position: absolute;
  top: -7.8em;
  left: 1em;
}

.hero-text-section {
  width: 100%;
  padding: 0 1.4em;
  text-align: center;
}

.hero-text-title {
  font-size: 2.4em;
  font-weight: lighter;
  color: var(--Blue950);
  margin-bottom: 1em;
}

.hero-text-content {
  font-weight: 0.8em;
  color: var(--Gray600);
  margin-bottom: 1.4em;
}

.hero-text-btn {
  width: 11em;
  padding: 0.8em 1em;
  border-radius: 3em;
  border: none;
  color: var(--White);
  background-image: linear-gradient(
    9deg,
    hsl(192, 69%, 51%),
    hsl(136, 64%, 51%)
  );
  margin-bottom: 3em;
  cursor: pointer;
}

.hero-text-btn:hover {
  background-image: linear-gradient(
    9deg,
    hsla(192, 69%, 51%, 75%),
    hsla(136, 64%, 51%, 75%)
  );
}

/* ... */

/* || Feature Sections */

.features-section {
  width: 100%;
  text-align: center;
  background-color: var(--Gray100);
  padding: 4em 1.4em;
}

.features-article {
  margin-bottom: 1em;
}

.feature-title-head {
  color: var(--Blue950);
  font-size: 1.9em;
  font-weight: lighter;
  margin-bottom: 1em;
}

.feature-img {
  margin-bottom: 1.2em;
}

.feature-title {
  color: var(--Blue950);
  font-size: 1.5em;
  font-weight: lighter;
  margin-bottom: 1em;
}

.feature-text-head,
.feature-text {
  color: var(--Gray600);
  margin-bottom: 2em;
}

/* ... */

/* || Article Section */

.articles-section {
  width: 100%;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--Gray50);
}

.article-header {
  text-align: center;
  color: var(--Blue950);
  font-size: 1.9em;
  font-weight: lighter;
  margin-bottom: 2em;
}

.article-container {
  width: 100%;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: var(--White);
  margin-bottom: 1.4em;
}

.article-image {
  width: 100%;
  height: 14em;

  margin-bottom: 0.3em;
}

.article-text-container {
  padding: 1.5em;
  background-color: var(--White);
}

figcaption {
  color: var(--Gray600);
  margin-bottom: 0.5em;
  font-size: 0.8em;
}

.latest-p-bold {
  color: var(--Blue950);
  margin-bottom: 0.5em;
}

.latest-p-normal {
  color: var(--Gray600);
}

/* ... */

/* || Footer Section */

footer {
  width: 100%;
  background-color: var(--Blue950);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5em 0;
}

.footer-logo-dark {
  margin-bottom: 1.5em;
}

.socials-container {
  margin-bottom: 1.5em;
}

.socials-container img {
  margin-right: 1em;
}

.socials-container img:last-child {
  margin-right: 0;
}

.footer-nav-list {
  list-style: none;
  text-align: center;
  margin-bottom: 1.5em;
}

.footer-nav-list li {
  margin-bottom: 1em;
}

.footer-list-item {
  text-decoration: none;
  color: var(--Gray100);
  transition: color 0.2s ease-in-out;
}

.footer-list-item:hover {
  color: var(--Green500);
}

.footer-btn {
  width: 11em;
  padding: 0.8em 1em;
  border-radius: 3em;
  border: none;
  color: var(--White);
  background-image: linear-gradient(
    9deg,
    hsl(192, 69%, 51%),
    hsl(136, 64%, 51%)
  );
  margin-bottom: 3em;
}

.footer-btn:hover {
  background-image: linear-gradient(
    9deg,
    hsla(192, 69%, 51%, 75%),
    hsla(136, 64%, 51%, 75%)
  );
}

.copyright {
  color: var(--Gray600);
}

/* .. */

/* || Tablet View */

@media screen and (min-width: 51.25em) {
  .desktop-nav-container {
    display: none;
  }

  .hero-desktop-btn {
    display: none;
  }

  .hero-img-1 {
    display: none;
  }

  .hero-img-1-desktop {
    display: block;
    position: absolute;
    width: 70%;
    right: -7em;
    top: -8em;
  }

  .hero-img-2 {
    width: 22em;
    height: auto;
    position: absolute;
    top: -7.8em;
    left: 27em;
  }

  .hero-section {
    height: 2em;
  }

  .hero-text-section {
    width: 45%;
    margin-left: 2em;
    text-align: start;
  }

  .article-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  .article-container {
    width: 90%;
  }

  .footer-nav-list {
    display: flex;
  }

  .footer-list-item {
    padding: 1em;
  }
}

/* ... */

/* || Desktop View */

@media screen and (min-width: 90em) {
  .mobile-btn-container {
    display: none;
  }

  .desktop-nav-container {
    display: block;
  }

  .dektop-nav-list {
    display: flex;
    list-style: none;
    gap: 2em;
  }

  .desktop-nav-link {
    text-decoration: none;
    font-size: 1em;
    color: var(--Gray600);
    transition: color 0.2s ease-in-out;
  }

  .desktop-nav-link:hover {
    color: var(--Green500);
  }

  .hero-desktop-btn {
    display: block;
    width: 11em;
    padding: 0.8em 1em;
    border-radius: 3em;
    border: none;
    color: var(--White);
    background-image: linear-gradient(
      9deg,
      hsl(192, 69%, 51%),
      hsl(136, 64%, 51%)
    );
    cursor: pointer;
  }

  .hero-desktop-btn:hover {
    background-image: linear-gradient(
      9deg,
      hsla(192, 69%, 51%, 75%),
      hsla(136, 64%, 51%, 75%)
    );
  }

  .hero-section {
    height: 10em;
  }

  .hero-img-1-desktop {
    width: 55%;
    top: -11.5em;
    right: -10em;
  }

  .hero-img-2 {
    width: 33em;
    top: -7.8em;
    left: 51.5em;
  }

  .features-section {
    padding: 4em 4em;
  }

  .features-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .feature-title-head,
  .feature-text-head {
    text-align: start;
  }

  .feature-text-head {
    width: 50%;
  }

  .feature-img {
    width: 4em;
    height: auto;
  }

  .feature-title,
  .feature-text {
    text-align: start;
  }

  .feature-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .features-article {
    width: 50%;
  }

  .article-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  .articles-section {
    height: 100%;
  }

  .article-header {
    text-align: start;
    margin-left: 0.5em;
  }
}

/* ... */
