/* || Universal Styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Open Sans", sans-serif, serif;
}

:root {
  /* Primary */

  --Blue950: hsl(233, 26%, 24%);
  --Green500: hsl(136, 64%, 51%);
  --Cyan400: hsl(192, 69%, 51%);

  /* Neutral */

  --Gray600: hsl(233, 8%, 62%);
  --Gray100: hsl(220, 16%, 96%);
  --Gray50: hsl(0, 0%, 98%);
  --White: hsl(0, 100%, 100%);
}

/* ... */

/* || Header & Main */

header {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1.5em;
}

main {
  overflow: hidden;
}

/* Mobile Nav */

.close-btn {
  display: none;
}

.mobile-nav-container {
  position: relative;
  background-image: linear-gradient(
    hsla(233, 26%, 24%, 0.705),
    hsla(233, 26%, 24%, 0)
  );
  width: 100%;
  height: 30em;
  position: absolute;
  top: 4.21em;
  left: 0;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  pointer-events: none;
  z-index: 99;
}

.mobile-nav {
  background-color: var(--White);
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 1.5em;
  border-radius: 0.5em;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  pointer-events: none;
}

.mobile-nav-list {
  list-style: none;
  text-align: center;
  padding: 1.5em 0;
}

.active {
  opacity: 1;
  pointer-events: auto;
}

.mobile-nav-list li {
  margin-bottom: 1.5em;
}

.mobile-nav-list li:last-of-type {
  margin-bottom: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--Blue950);
  font-weight: bold;
}

.menu-btn {
  height: 0.8em;
  width: 1.4em;
}

.close-btn {
  height: 1em;
  width: 1em;
}

/* ... */

/* || Hero Section */

.hero-section {
  width: 100%;
  height: 19em;
  position: relative;
}

.hero-img-1 {
  width: 100%;
  top: -4em;
  left: 0;
  position: absolute;
}

.hero-img-2 {
  width: 22em;
  height: auto;
  position: absolute;
  top: -7.8em;
  left: 1em;
}

.hero-text-section {
  width: 100%;
  padding: 0 1.4em;
  text-align: center;
}

.hero-text-title {
  font-size: 2.4em;
  font-weight: lighter;
  color: var(--Blue950);
  margin-bottom: 1em;
}

.hero-text-content {
  font-weight: 0.8em;
  color: var(--Gray600);
  margin-bottom: 1.4em;
}

.hero-text-btn {
  width: 11em;
  padding: 0.8em 1em;
  border-radius: 3em;
  border: none;
  color: var(--White);
  background-image: linear-gradient(
    9deg,
    hsl(192, 69%, 51%),
    hsl(136, 64%, 51%)
  );
  margin-bottom: 3em;
}

/* ... */

/* || Feature Sections */

.features-section {
  width: 100%;
  text-align: center;
  background-color: var(--Gray50);
  padding: 4em 1.4em;
}

.features-article {
  margin-bottom: 1em;
}

.feature-title-head {
  color: var(--Blue950);
  font-size: 1.9em;
  font-weight: lighter;
  margin-bottom: 1em;
}

.feature-title {
  color: var(--Blue950);
  font-size: 1.5em;
  font-weight: lighter;
  margin-bottom: 1em;
}

.feature-text {
  color: var(--Gray600);
  margin-bottom: 2em;
}

/* ... */
